{{ define "main" }}
  <div class="px-8 max-w-4xl mx-auto my-16">
    <h1 class="text-4xl font-bold mb-6 text-center">📝 Blog Posts</h1>
    <div class="prose prose-invert">
      {{ .Content }}
    </div>

    <ul class="mt-8 space-y-6">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}" class="text-2xl font-semibold text-sky-400 hover:underline">
            {{ .Title }}
          </a>
          <p class="text-sm text-gray-400">{{ .Date.Format "2006-01-02" }}</p>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
