<div class="flex justify-between items-center px-8 py-6">
    <!-- Sol tarafta isim -->
    <h1 class="text-3xl font-bold">
      <a href="{{ .Site.BaseURL }}">Meryem Oruç</a>
    </h1>
  
    <!-- Sağda menü -->
    <nav class="flex gap-4 text-base">
      <a href="{{ .Site.BaseURL }}about/" class="border px-4 py-1 hover:bg-sky-500 hover:text-white">About</a>
      <a href="{{ .Site.BaseURL }}projects/" class="border px-4 py-1 hover:bg-sky-500 hover:text-white">Projects</a>
      <a href="{{ .Site.BaseURL }}blog/" class="border px-4 py-1 hover:bg-sky-500 hover:text-white">Blog</a>
    </nav>
  </div>
  